@if(strategy) {
  <div class="row mb-3">
    <div class="col-sm-2">
      <div class="info-card">
        <p>
          Starting Bankroll <b>${{ strategy.starting_bankroll | number : "1.0-2" }}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="info-card">
        <p>
          Bankroll
          <b>${{ strategy.starting_bankroll + strategy.profit | number : "1.0-2" }}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="info-card">
        <p>
          Unit Won
          <b>{{
            strategy.profit / ( strategy.starting_bankroll / 100) | number : "1.0-1"
          }}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="info-card">
        <p>
            Average odds <b>{{ mediaQuota | number : "1.0-2" }}</b>    
        </p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="info-card">
        <p>
          ROI
          <b>{{
            strategy.profit / strategy.starting_bankroll | percent : "1.0-2"
          }}</b>
        </p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="info-card">
        <p>
          Winrate <b>{{ winRate | percent : "1.0-2" }}</b>
        </p>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <app-dashboard-graph [strategy$]="strategy$" [showTitle]="true"></app-dashboard-graph>
    </div>
  </div>
  <app-dashboard-table [strategy$]="strategy$"></app-dashboard-table>
}