<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Backtest</h5>
    <p class="card-text text-center">
      Choose your criteria and perform the backtest.
    </p>
    <div class="row">
      <div class="mb-3 col-sm-2">
        <label for="progressionLength" class="form-label"
          >Progression Length</label
        >
        <input
          type="number"
          id="progressionLength"
          class="form-control"
          [(ngModel)]="progressionLength"
        />
      </div>
      <div class="mb-3 col-sm-2">
        <label for="multiplier" class="form-label">Multiplier</label>
        <input
          type="number"
          id="multiplier"
          class="form-control"
          [(ngModel)]="multiplier"
        />
      </div>
      <div class="mb-3 col-sm-2">
        <label for="unitValue" class="form-label">Unit Value</label>
        <input
          type="number"
          id="unitValue"
          class="form-control"
          [(ngModel)]="unitValue"
        />
      </div>
      <div class="mb-3 col-sm-2">
        <label for="underPercentage" class="form-label"
          >Max Over2.5 Percentage</label
        >
        <input
          type="number"
          id="underPercentage"
          class="form-control"
          [(ngModel)]="underPercentage"
        />
      </div>
      <div class="mb-3 col-sm-2">
        <label for="sameMatchNumber" class="form-label"
          >Same Match Number</label
        >
        <input
          type="number"
          id="sameMatchNumber"
          class="form-control"
          [(ngModel)]="sameMatchNumber"
        />
      </div>
      <div class="mb-3 col-sm-2">
        <label for="sameMatchNumber" class="form-label"
          >X percentage</label
        >
        <input
          type="number"
          id="xPercentage"
          class="form-control"
          [(ngModel)]="xPercentage"
        />
      </div>
    </div>
    <div class="text-center mb-3">
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="runBacktest()"
      >
        Run Backtest
      </button>
      <!-- <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="manipulate()"
      >
        Manipulate
      </button> -->
    </div>
    @if(bets.length > 0) {
        <div class="row">
            <div class="col-sm-4 mb-3 text-center">
                <h3>Won: <span class="text-success">{{betWon / totalBets | percent: "1.0-2"}}</span>({{betWon}} of {{totalBets}})</h3>
            </div>
            <div class="col-sm-4 mb-3 text-center">
                <h3>Progressions Lost <span class="text-danger">{{lostProgressions}}</span></h3>
            </div>
            <div class="col-sm-4 mb-3 text-center">
                <h3>Profit <span [ngClass]="cumulatedProfit > 0 ? 'text-success' : 'text-danger'">${{cumulatedProfit | number: "1.0-2"}}</span></h3>
            </div>
            <div class="col-sm-6 mb-3 text-center">
                <h3>Max Drawdown: <span class="text-danger">${{maxDrawDown | number: "1.0-2"}}</span></h3>
            </div>
            <div class="col-sm-6 mb-3 text-center">
                <h3>Relative Drawdown <span class="text-danger">${{relativeDrawDown | number: "1.0-2"}}</span></h3>
            </div>
            <div class="d-flex mb-3 text-center justify-content-around">
                @for(entry of prorgessionResults.entries(); track entry[0]) {
                    <h3>{{entry[0]}}: {{entry[1]}}</h3>
                }
            </div>
        </div>
        <apx-chart
  [series]="series"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
    <table class="table table-striped">
      <thead class="sticky-top">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Event</th>
          <th scope="col">Match Result</th>
          <th scope="col">Bookmaker</th>
          <th scope="col">Odds</th>
          <th scope="col">Unit</th>
          <th scope="col">Bet</th>
          <th scope="col">Result</th>
          <th scope="col">Profit Unit</th>
          <th scope="col">Profit</th>
          <th scope="col">Cumulated Profit</th>
          <th scope="col">Cumulated Profit Unit</th>
        </tr>
      </thead>
      <tbody>
        @for(bet of bets; track bet.id) {
            <tr>
                <td scope="row">{{ bet.date | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>
                  {{ bet.event }}
                </td>
                <td>
                  {{ bet.matchResult }}
                </td>
                <td>{{ bet.bookmaker }}</td>
                <td>{{ bet.odds | number }}</td>
                <td>{{ bet.unit | number : "1.0-2" }}</td>
                <td>{{ bet.bet | number : "1.0-2" }}</td>
                <td>{{bet.result}}</td>
                <td  [ngClass]="bet.result === 'won' ? 'text-success' : 'text-danger'">
                  {{ bet.profitUnit | number : "1.0-2"}}
                </td>
                <td  [ngClass]="bet.result === 'won' ? 'text-success' : 'text-danger'">
                  {{ bet.profit | number : "1.0-2"}}
                </td>
                <td  [ngClass]="bet.cumulatedProfit > 0 ? 'text-success' : 'text-danger'">
                  {{ bet.cumulatedProfit | number : "1.0-2"}}
                </td>
                <td  [ngClass]="bet.cumulatedProfitUnit > 0 ? 'text-success' : 'text-danger'">
                  {{ bet.cumulatedProfitUnit | number : "1.0-2"}}
                </td>
              </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
