<h3>Add Bet</h3>

<form  [formGroup]="submitForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="bookmaker" class="form-label">
      Bookmaker
    </label>
    <input id="bookmaker" type="text" formControlName="bookmaker" class="form-control">
  </div>

  <div class="mb-3">
    <label  class="form-label">
      Odds
    </label>
    <input id="odds" type="text" formControlName="odds" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label" >
      Stake
    </label>
    <input id="stake" type="text" formControlName="stake" class="form-control" >
  </div>

  <div class="mb-3">
  <select formControlName="result" class="form-select">
    <option value="">
      --Select--
    </option>
    <option *ngFor="let option of results"  [value]= 'option.value'>
       {{option.value}}</option>
  </select >
</div>


  <button class="btn btn-primary" type="submit" [disabled]="!submitForm.valid">Add</button>

</form>

