<div *ngIf="profile$ | async as p; else anon">
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let s of p.strategies">
            <div class="box">
                <h2>{{s.name}}</h2>
                <app-dashboard-graph [strategy$]="getStrategy(s.id)" [height]="300" [showToolbar]="false"></app-dashboard-graph>
                <div class="row text-center">
                    <div class="col-md-4">
                        <p>ROI</p>
                        <p>{{(s.profit / s.starting_bankroll) | percent: "1.0-4"}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Total Bet</p>
                        <p>{{s.bets.length}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Last Signal Date</p>
                        <p>{{s.bets.reduce(retrieveLastSignalDate, initialBet).date | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #anon>
    <h3>Anonymus content</h3>
</ng-template>
