<div *ngIf="profile$ | async as profile; else anon">
  <h1>Ciao {{ profile.username || profile.email }}</h1>
  <p>Here you can update your username</p>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmitUpdateProfile()"
    class="row g-8 align-items-end"
  >
    <div class="mb-3 col-md-6">
      <label for="username" class="form-label"> Username </label>
      <input
        id="username"
        type="text"
        formControlName="username"
        class="form-control"
        placeholder="Your username"
      />
      <div
        *ngIf="
          profileForm.controls['username'].invalid &&
          (profileForm.controls['username'].dirty ||
            profileForm.controls['username'].touched)
        "
      >
        <div
          *ngIf="profileForm.controls['username'].errors!['required']"
          class="error-message"
        >
          Il campo è obbligatorio
        </div>
      </div>
    </div>
    <div class="mb-3 col-md-4">
      <button
        class="btn btn-primary btn-lg"
        type="submit"
        [disabled]="!profileForm.valid"
      >
        Update profile
      </button>
    </div>
  </form>
  <div class="mt-3 card">
    <div class="card-body">
      <div class="d-flex justify-content-center gap-5">
        <div class="mb-3">
          <label for="progressionLength" class="form-label">Progression length</label>
          <input
            id="progressionLength"
            type="text"
            class="form-control"
            name="progressionLength"
            [(ngModel)]="progressionLength"
          />
        </div>
      <div class="mb-3">
        <label for="multiplier" class="form-label">Progression multiplier</label>
        <input
          id="multiplier"
          type="text"
          class="form-control"
          name="multiplier"
          [(ngModel)]="multiplier"
        />
      </div>
      <div class="mb-3">
        <label for="averageOdds" class="form-label">Average odds</label>
        <input
          id="averageOdds"
          type="text"
          class="form-control"
          name="averageOdds"
          [(ngModel)]="averageOdds"
        />
      </div>
    </div>
    <div class="text-center mb-3">
      <button type="button" class="btn btn-primary btn-lg" (click)="generateTable()">Generate</button>
    </div>
    @if(betsArray.length > 0) {
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">UNIT</th>
            <th scope="col">TOTAL UNIT</th>
            <th scope="col">ODDS</th>
            <th scope="col">WON</th>
            <th scope="col">PROFIT</th>
          </tr>
        </thead>
        <tbody>
          @for(b of betsArray; track b.unit) {
            <tr>
              <td scope="row">{{b.unit | number : "1.0-2"}}</td>
              <td>{{b.totalUnit | number : "1.0-2"}}</td>
              <td>{{b.odds | number : "1.0-2"}}</td>
              <td>{{b.won | number : "1.0-2"}}</td>
              <td [class]="b.profit > 0 ? 'text-success' : 'text-danger'">{{b.profit | number : "1.0-2"}}</td>
            </tr>
          }
        </tbody>
      </table>
    }
    </div>
  </div>
</div>
<ng-template #anon>
  <h3>Anonymus content</h3>
</ng-template>
