@if (dashboardTableService.loading$ | async) {
<div class="loading">
  <mat-spinner></mat-spinner>
</div>
}
<div class="row align-items-end">
  <div class="col-sm-12">
    <h4>Le tue scommesse</h4>
  </div>
  <div class="col-sm-12">
    <h5>Filtra la tabella</h5>
  </div>
  <div class="col-sm-3">
    <label for="bookmaker" class="form-label"> Bookmaker </label>
    <input
      id="bookmaker"
      type="text"
      [(ngModel)]="dashboardTableService.bookmaker"
      class="form-control"
    />
  </div>
  <div class="col-sm-3">
    <label class="form-label"> Data </label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="dashboardTableService.date"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="d.toggle()"
        type="button"
      ></button>
    </div>
  </div>
  <div class="col-sm-3">
    <label for="result" class="form-label">Result</label>
    <select
      [(ngModel)]="dashboardTableService.result"
      class="form-select"
      id="result"
    >
      <option value="">--Select--</option>
      <option *ngFor="let option of resultOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="col-sm-3 text-end">
    <button class="btn btn-primary btn-lg" (click)="resetFilters()">
      Reset Filters
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col" *ngIf="isLive">Date</th>
      <th scope="col">Bookmaker</th>
      <th scope="col" *ngIf="!isLive">Odds</th>
      <th scope="col">Stake</th>
      <th scope="col">Bet</th>
      <th scope="col">Result</th>
      <th scope="col">Profit</th>
      <th scope="col">Cumulated Profit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (r of bets$ | async; track r.id) {
    <tr>
      <td scope="row">
        {{ r.event }}
      </td>
      <td *ngIf="isLive">{{ r.date | date:'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ r.bookmaker }}</td>
      <td *ngIf="!isLive">{{ r.odds | number }}</td>
      <td>{{ r.stake | number }}%</td>
      <td>{{ r.bet | number }}</td>
      <td>
        @if (!editRow[r.id!]) {
        {{ r.result }}
        } @else{
        <select
          class="form-select"
          id="new-result"
          [value]="r.result"
          [(ngModel)]="newResultValue"
        >
          <option *ngFor="let option of resultOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        }
      </td>
      <td>{{ r.profit || "-" }}</td>
      <td>{{ r.cumulated_profit || "-" }}</td>
      <td class="col-sm-1 text-center">
        @if(r.result === 'pending') {
        <button
          class="btn btn-outline-secondary mx-1 bi"
          [ngClass]="editRow[r.id!] ? 'bi-save' : 'bi-pen'"
          type="button"
          (click)="toogleEditRow(r)"
        ></button>
        <button
          class="btn btn-outline-danger bi bi-trash"
          type="button"
          (click)="deleteItem(r)"
        ></button>
        }
      </td>
    </tr>
    } @empty {
      <p>Non hai ancora piazzato delle scommesse, vai alla pagina Add Bet per aggiungerne</p>
    }
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="dashboardTableService.page"
    [pageSize]="dashboardTableService.pageSize"
  >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="dashboardTableService.pageSize"
  >
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="30">30 items per page</option>
  </select>
</div>
