@if (dashboardTableService.loading$ | async) {
<div class="loading">
  <mat-spinner></mat-spinner>
</div>
}
<div class="row align-items-end">
  <div class="col-sm-3">
    <input
      id="event"
      type="text"
      placeholder="Event"
      [(ngModel)]="dashboardTableService.event"
      class="form-control"
    />
  </div>
  <div class="col-sm-3">
    <input
      id="bookmaker"
      type="text"
      placeholder="Bookmaker"
      [(ngModel)]="dashboardTableService.bookmaker"
      class="form-control"
    />
  </div>
  <div class="col-sm-2">
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="dashboardTableService.date"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="d.toggle()"
        type="button"
      ></button>
    </div>
  </div>
  <div class="col-sm-2">
    <select
      [(ngModel)]="dashboardTableService.result"
      class="form-select"
      id="result"
    >
      <option value="">--Filter Result--</option>
      <option *ngFor="let option of resultOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="col-sm-2 text-end">
    <button class="btn btn-primary btn-lg" (click)="resetFilters()">
      Reset Filters
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" >Date</th>
      <th scope="col">Event</th>
      <th scope="col">Bookmaker</th>
      <th scope="col" *ngIf="!isLive">Odds</th>
      <th scope="col">Unit</th>
      <th scope="col">Bet</th>
      <th scope="col">Result</th>
      <th scope="col">Profit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (r of bets$ | async; track r.id) {
    <tr>
      <td scope="row">{{ r.date | date:'dd/MM/yyyy' }}</td>
      <td>
        {{ r.event }}
      </td>
      <td>{{ r.bookmaker }}</td>
      <td *ngIf="!isLive">{{ r.odds | number }}</td>
      <td>{{ r.unit | number : "1.0-2" }}</td>
      <td>{{ r.bet | number : "1.0-2" }}</td>
      <td>
        @if (!editRow[r.id!]) {
        {{ r.result }}
        } @else{
        <select
          class="form-select"
          id="new-result"
          [value]="r.result"
          [(ngModel)]="newResultValue"
        >
          <option *ngFor="let option of resultOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        }
      </td>
      <td  [ngClass]="r.result === 'won' ? 'text-success' : r.result === 'lost' ? 'text-danger' : r.result === 'void' ? 'text-primary' : ''">
        {{ r.profit ? (r.profit | number : "1.0-2") :  r.result === 'pending' ? '-' : 'push' }}
      </td>
      <td class="col-sm-1 text-center">
        <!-- <button
          class="btn mx-1 bi bi-x-lg btn-outline-dark"
          *ngIf="editRow[r.id!]"
          type="button"
          (click)="toogleEditRow(r, true)"
        ></button>
        <button
          class="btn mx-1 bi"
          [ngClass]="editRow[r.id!] ? 'bi-check2 btn-outline-success' : 'bi-pen btn-outline-secondary'"
          type="button"
          (click)="toogleEditRow(r, false)"
        ></button>
        <button
          class="btn btn-outline-danger bi bi-trash"
          type="button"
          (click)="deleteItem(r)"
        ></button> -->
        <button
          class="btn mx-1 bi bi-pen btn-outline-secondary"
          type="button"
          (click)="open(content, r)"
        ></button>
      </td>
    </tr>
    } @empty {
      <p>Non hai ancora piazzato delle scommesse, vai alla pagina Add Bet per aggiungerne</p>
    }
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="dashboardTableService.page"
    [pageSize]="dashboardTableService.pageSize"
  >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="dashboardTableService.pageSize"
  >
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="30">30 items per page</option>
  </select>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-edit-bet">Edit Bet</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form class="row g-8" [formGroup]="editBetForm">
      <div class="mb-3 col-md-6">
        <label for="bookmaker" class="form-label"> Bookmaker </label>
        <input
          id="bookmaker"
          type="text"
          formControlName="bookmaker"
          class="form-control"
        />
        <div
          *ngIf="
            editBetForm.controls['bookmaker'].invalid &&
            (editBetForm.controls['bookmaker'].dirty ||
            editBetForm.controls['bookmaker'].touched)
          "
        >
          <div
            *ngIf="editBetForm.controls['bookmaker'].errors!['required']"
            class="error-message"
          >
            Il campo è obbligatorio
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label for="date" class="form-label">Event Date</label>
        <app-datetimepicker formControlName="date" name="date"></app-datetimepicker>
      </div>
      <div class="mb-3 col-md-6">
        <label for="event" class="form-label"> Evento </label>
        <input
          id="event"
          type="text"
          formControlName="event"
          class="form-control"
        />
        <div
          *ngIf="
            editBetForm.controls['event'].invalid &&
            (editBetForm.controls['event'].dirty ||
            editBetForm.controls['event'].touched)
          "
        >
          <div
            *ngIf="editBetForm.controls['event'].errors!['required']"
            class="error-message"
          >
            Il campo è obbligatorio
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label"> Unit </label>
        <input
          id="unit"
          type="number"
          step="1"
          formControlName="unit"
          class="form-control"
        />
        <div
          *ngIf="
            editBetForm.controls['unit'].invalid &&
            (editBetForm.controls['unit'].dirty ||
            editBetForm.controls['unit'].touched)
          "
        >
          <div
            *ngIf="editBetForm.controls['unit'].errors!['required']"
            class="error-message"
          >
            Required field
          </div>
          <div
            *ngIf="editBetForm.controls['unit'].errors!['min']"
            class="error-message"
          >
            The value must be greater than 0
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label"> Bet </label>
        <input
          id="bet"
          type="text"
          readonly
          formControlName="bet"
          class="form-control"
        />
        <div
          *ngIf="
            editBetForm.controls['bet'].invalid
          "
        >
          <div
            *ngIf="editBetForm.controls['bet'].errors!['required']"
            class="error-message"
          >
            Required field
          </div>
          <div
            *ngIf="editBetForm.controls['bet'].errors!['min']"
            class="error-message"
          >
            The value must be greater than 0
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label"> Odds </label>
        <input
          id="odds"
          type="number"
          step="0.01"
          formControlName="odds"
          class="form-control"
        />
        <div
          *ngIf="
            editBetForm.controls['odds'].invalid &&
            (editBetForm.controls['odds'].dirty ||
            editBetForm.controls['odds'].touched)
          "
        >
          <div
            *ngIf="editBetForm.controls['odds'].errors!['required']"
            class="error-message"
          >
            Il campo è obbligatorio
          </div>
          <div
            *ngIf="editBetForm.controls['odds'].errors!['pattern']"
            class="error-message"
          >
            Inserire un valore numerico
          </div>
        </div>
      </div>
      <div class="mb-3 col-md-12">
        <select id="result" formControlName="result" class="form-control">
          <option *ngFor="let option of resultOptions" [value]="option.value">
            {{ option.label }}
          </option>
          </select>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" (click)="deleteItem(modal)">Delete</button>
		<button type="button" class="btn btn-outline-primary" (click)="editBet(modal)" [disabled]="!editBetForm.valid">Save</button>
	</div>
</ng-template>
