@if (dashboardTableService.loading$ | async) {
<div class="loading">
  <mat-spinner></mat-spinner>
</div>
}
<div class="row align-items-end">
  <div class="col-sm-3">
    <input
      id="bookmaker"
      type="text"
      placeholder="Bookmaker"
      [(ngModel)]="dashboardTableService.bookmaker"
      class="form-control"
    />
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="dashboardTableService.date"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <button
        class="btn btn-outline-secondary bi bi-calendar3"
        (click)="d.toggle()"
        type="button"
      ></button>
    </div>
  </div>
  <div class="col-sm-3">
    <select
      [(ngModel)]="dashboardTableService.result"
      class="form-select"
      id="result"
    >
      <option value="">--Filter Result--</option>
      <option *ngFor="let option of resultOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="col-sm-3 text-end">
    <button class="btn btn-primary btn-lg" (click)="resetFilters()">
      Reset Filters
    </button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" >Date</th>
      <th scope="col">Event</th>
      <th scope="col">Bookmaker</th>
      <th scope="col" *ngIf="!isLive">Odds</th>
      <th scope="col">Unit</th>
      <th scope="col">Bet</th>
      <th scope="col">Result</th>
      <th scope="col">Profit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (r of bets$ | async; track r.id) {
    <tr>
      <td scope="row">{{ r.date | date:'dd/MM/yyyy' }}</td>
      <td>
        {{ r.event }}
      </td>
      <td>{{ r.bookmaker }}</td>
      <td *ngIf="!isLive">{{ r.odds | number }}</td>
      <td>{{ r.unit | number }}</td>
      <td>{{ r.bet | number }}</td>
      <td>
        @if (!editRow[r.id!]) {
        {{ r.result }}
        } @else{
        <select
          class="form-select"
          id="new-result"
          [value]="r.result"
          [(ngModel)]="newResultValue"
        >
          <option *ngFor="let option of resultOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        }
      </td>
      <td  [ngClass]="r.result === 'won' ? 'text-success' : r.result === 'lost' ? 'text-danger' : r.result === 'void' ? 'text-primary' : ''">{{ r.profit ? r.profit :  r.result === 'pending' ? '-' : 'push' }}</td>
      <td class="col-sm-2 text-center">
        <button
          class="btn mx-1 bi bi-x-lg btn-outline-dark"
          *ngIf="editRow[r.id!]"
          type="button"
          (click)="toogleEditRow(r, true)"
        ></button>
        <button
          class="btn mx-1 bi"
          [ngClass]="editRow[r.id!] ? 'bi-check2 btn-outline-success' : 'bi-pen btn-outline-secondary'"
          type="button"
          (click)="toogleEditRow(r, false)"
        ></button>
        <button
          class="btn btn-outline-danger bi bi-trash"
          type="button"
          (click)="deleteItem(r)"
        ></button>
      </td>
    </tr>
    } @empty {
      <p>Non hai ancora piazzato delle scommesse, vai alla pagina Add Bet per aggiungerne</p>
    }
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!"
    [(page)]="dashboardTableService.page"
    [pageSize]="dashboardTableService.pageSize"
  >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="dashboardTableService.pageSize"
  >
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="20">20 items per page</option>
    <option [ngValue]="30">30 items per page</option>
  </select>
</div>
