<div class="input-group mr-2">
    <input  class="form-control" (blur)="inputBlur($event)" [ngModel]="dateString | date:inputDatetimeFormat" (change)="onInputChange($event)" />

    <div class="input-group-append">
        <button class="btn btn-outline-secondary" [ngbPopover]="calendarContent" placement="bottom" [disabled]='disabled' type="button">
            <i class="bi bi-calendar"></i>
        </button>
    </div>
</div>

<ng-template #calendarContent>
    <div >
        <div>
            <ngb-datepicker #dp name="datepicker" [ngModel]="datetime"  (ngModelChange)="onDateChange($event)"></ngb-datepicker>
        </div>
    </div>
</ng-template>

